<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Carga de paquetes</h1>
  </div>
  <div class=" d-flex mt-3">
    <div class="col-auto col-lg-12">

      <div class="card2 row">
        <div class="form-floating col-auto col-lg-3 m-3 row">
          <input type="text" class=" buscar form-control" id="busqueda" placeholder="Buscar" [(ngModel)]="searchTerm"
            name="busqueda">
          <label for="User">&nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass"></i> Buscar</label>
        </div>
        <div class="col-auto col-lg-2 mt-4">
          <input type="text" ngxDaterangepickerMd [(ngModel)]="rango" [showDropdowns]="true" [autoApply]="true"
            class="form-control" placeholder="Seleccionar fechas" (ngModelChange)="getDatos(this.page, this.size)" />
        </div>

        <div class="col-auto col-lg-3 d-flex justify-content-end mt-auto">
          <button type="button" class="btn btn-sm" (click)="crearCargamento()">CREAR CARGAMENTO</button>
        </div>
        <div class="col-auto col-lg-2 d-flex justify-content-end mt-auto">
          <a [routerLink]="['/pages/RH/Registrar-Trabajador']">
            <button type="button" class="btn btn-sm">DESCARGAR REPORTES</button>
          </a>
        </div>


        <div *ngFor="let item of data" class="card-person" (click)="infocard(item.id)">
          <h3 class="title">Cargamento {{ item.id }}</h3>

          <div class="progress-container">
            <div class="progress-bar" [ngClass]="{
        'green': porcentaje(item) > 70,
        'yellow': porcentaje(item) <= 70 && porcentaje(item) >= 30,
        'red': porcentaje(item) < 30
       }" [style.width.%]="porcentaje(item)">
            </div>
          </div>

          <div class="labels">
            <div class="left">Entregados: {{ item.entregados }}</div>
            <div class="right">Faltantes: {{ item.noEntregados }}</div>
          </div>

          <div class="total">
            Total de paquetes: {{ item.paquetesTotal }}
          </div>

          <hr>
          <div class="footer">
            <span><strong>Fecha:</strong> {{ item.ts_created | date: 'dd-MM-yyyy HH:mm' }}</span>
            <span><strong>ID:</strong> {{ item.id }}</span>
          </div>
        </div>


        <app-paginador-component [isLoading]="isLoading" [message]="'No hay cargamentos registrados en este día.'"
          [page]="page" [size]="size" [total]="total" (pageChange)="cambiarPagina($event)">
        </app-paginador-component>

      </div>




    </div>

  </div>
</div>