<div class="paquetes-container">
  <h2>Registros de paquetes</h2>

  <div class="paquetes-box">
    <div class="paquetes-header">
      <div class="left">
        <strong>Paquetes registrados&nbsp;&nbsp;&nbsp;</strong>
        <span>&nbsp;&nbsp;&nbsp;Total: {{this.total}}</span>
      </div>


      <div class="botones-responsivos">
        <input type="text" placeholder="Buscar..." class="buscador" [(ngModel)]="searchTerm" />

        <input id="csvFile" type="file" (change)="onFileSelected($event, 'normal')" accept=".csv" #fileInputNomal
          style="display: none" />

        <button class="btn btn-archivo" (click)="fileInputNomal.click()" [disabled]="isMatch || isCreateExel === true"
          [class.disabled-btn]="isMatch && isCreateExel">
          📁 Cargar Excel
        </button>
        <input id="csvFile" type="file" (change)="onFileSelected($event, 'costos')" accept=".csv" #fileInputCostos
          style="display: none" />

        <button class="btn btn-archivo" (click)="fileInputCostos.click()"
          [disabled]="isMatchPrice || isPriceExel === true" [class.disabled-btn]="isMatchPrice && isPriceExel">
          🗂️ Cargar Excel de Costos
        </button>
        <button class="btn btn-escanear" (click)="mostrarSwal()">
          📦 Comenzar a escanear
        </button>
        <button class="btn btn-escanear" (click)="macheoPaquetes()" [disabled]="isMatch || total <=0"
          [class.disabled-btn]="isMatch">
          🔄 Hacer macheo
        </button>
        <button class="btn btn-escanear" (click)="macheoPaquetesCostos()" [disabled]="isMatchPrice || total <=0"
          [class.disabled-btn]="isMatch">
          🔄🪙 Macheo de costos
        </button>
        <button class="btn btn-escanear" (click)="machoteExelPaquetes()">
          📊 Machote de excel
        </button>
        <button class="btn btn-escanear" (click)="descargarTxtDeGuiasPorBloques()">
          📄 Copiar paquetes
        </button>
      </div>
      <!-- Tarjeta de Colores -->
      <div class="card mt-3 col-auto col-lg-2 p-3 shadow-sm">
        <h5 class="card-title">Significado de Colores</h5>
        <ul class="list-unstyled mt-2 mb-0">
          <li class="d-flex align-items-center mb-2">
            <span class="me-2 rounded-circle" style="width: 14px; height: 14px; background-color: rgb(243, 205, 35);"></span>
            <small><strong>Amarillo:</strong> No tiene consolidados</small>
          </li>
          <li class="d-flex align-items-center mb-2">
            <span class="me-2 rounded-circle" style="width: 14px; height: 14px; background-color: rgb(42, 121, 212);"></span>
            <small><strong>Azul:</strong> Sin fecha o no reconocido</small>
          </li>
          <li class="d-flex align-items-center mb-2">
            <span class="me-2 rounded-circle" style="width: 14px; height: 14px; background-color: orange;"></span>
            <small><strong>Naranja:</strong> Se entregan hoy</small>
          </li>
          <li class="d-flex align-items-center">
            <span class="me-2 rounded-circle" style="width: 14px; height: 14px; background-color: rgb(204, 1, 1);"></span>
            <small><strong>Rojo:</strong> Entrega atrasada</small>
          </li>
        </ul>
      </div>

    </div>

    <div class="tabs">
      <button [class.active]="activeTab === 'normales'" (click)="activeTab = 'normales'">📦 Normales</button>
      <button [class.active]="activeTab === 'costos'" (click)="activeTab = 'costos'">💰 Con costo</button>
    </div>
    <div *ngIf="activeTab === 'normales'">
      <div *ngFor="let grupo of paquetesAgrupados">
        <div class="fecha-entrega-linea">
          <span>{{ grupo.fecha }}</span>
        </div>
        <ng-container *ngFor="let paquete of grupo.paquetes | filter: searchTerm">
          <ng-container *ngTemplateOutlet="paqueteTemplate; context:{ $implicit: paquete }"></ng-container>
        </ng-container>
      </div>
    </div>

    <div *ngIf="activeTab === 'costos'">
      <div *ngFor="let paquete of paquetesConCosto | filter: searchTerm">
        <ng-container *ngTemplateOutlet="paqueteTemplate; context:{ $implicit: paquete, esCosto: true }"></ng-container>
      </div>
    </div>

    <!-- Template único para renderizar un paquete -->
    <ng-template #paqueteTemplate let-paquete let-esCosto="esCosto">
      <div class="paquete">
        <div class="codigo">
          <i class="fa fa-eye" style="cursor:pointer; margin-left: 10px;" (click)="verdetallesPaquete(paquete)"></i>
          <i class="fa-solid fa-pen-to-square" style="cursor:pointer; margin-left: 10px;"
            (click)="editarConsolidado(paquete)"></i>&nbsp;
          <span [ngStyle]="{ color: paquete.color }">{{ paquete.guia }}</span>
        </div>

        <div *ngIf="esCosto" style="margin-top:5px; color:#16a34a;">
          <strong>Costo:</strong> {{ paquete.costLoad.price ? '$' + paquete.costLoad.price :
          'N/A' }}
        </div>

        <div class="barra-progreso">
          <div class="segmento progreso" [ngStyle]="{
        width: getBarraEstado(paquete),
        backgroundColor: paquete.status.config.color
      }"></div>
        </div>

        <div class="etapas">
          <span>{{paquete.nameOrg}}&nbsp;&nbsp; Intentos:
            {{paquete.totalEntregas}}&nbsp; Rutas: {{paquete.totalRutas}}</span>
          <span class="center-info">{{paquete.status.name}} - {{
            paquete.status.tiempo | date: 'dd-MM-yyyy HH:mm' }} - {{ paquete.dex || 'No tiene DEX asignado'}}</span>
        </div>
      </div>
    </ng-template>

    <app-paginador-component [isLoading]="isLoading" [page]="page" [size]="size" [total]="total"
      (pageChange)="cambiarPagina($event)">
    </app-paginador-component>

  </div>
</div>
