<div class="container  ">
  <div class="titulos col-auto col-lg-8  row  mt-4 md-3">
    <h1>Alta de Vehiculos</h1>
  </div>
  <!-- DATOS PERSONALES -->
  <form [formGroup]="carForm" (ngSubmit)="guardarDatosPersonales()">
    <h4>Datos del vehiculo</h4>
    <div class="grid">

      <div class="foto-container">
        <div class="carousel">
          <div class="carousel-item" *ngFor="let foto of fotosPreview; let i = index"
            [ngStyle]="{ 'background-image': 'url(' + foto + ')' }" [class.active]="i === fotoActual"></div>
          <span class="carousel-control prev" (click)="anteriorFoto()">‹</span>
          <span class="carousel-control next" (click)="siguienteFoto()">›</span>
        </div>

        <label for="foto" class="foto-label">
          <i class="icon">ℹ️</i> Fotografías del vehículo
        </label>
        <input type="file" id="foto" (change)="onFotoSelected($event)" hidden multiple />
      </div>

      <div class="group">
        <label>
          Placa del vehículo:
          <i class="fas fa-info-circle info-icon" data-tooltip="Ingrese el número de placa del vehículo."></i>
        </label>
        <input type="text" formControlName="placa" />

        <label>
          Marca:
          <i class="fas fa-info-circle info-icon" data-tooltip="Marca registrada del vehículo."></i>
        </label>
        <input type="text" formControlName="marca" />

        <label>
          Submarca:
          <i class="fas fa-info-circle info-icon" data-tooltip="Línea o versión específica de la marca."></i>
        </label>
        <input type="text" formControlName="submarca" />

        <label>
          Modelo:
          <i class="fas fa-info-circle info-icon" data-tooltip="Año del modelo del vehículo."></i>
        </label>
        <input type="date" formControlName="modelo" />

        <label>
          No. de serie:
          <i class="fas fa-info-circle info-icon" data-tooltip="Número de serie del vehículo (VIN)."></i>
        </label>
        <input type="tel" formControlName="serie" />

        <label>
          Kmts recorridos:
          <i class="fas fa-info-circle info-icon" data-tooltip="Kilómetros recorridos"></i>
        </label>
        <input type="tel" formControlName="km" />
      </div>

      <div class="group">
        <label>
          Compañía de seguro:
          <i class="fas fa-info-circle info-icon" data-tooltip="Nombre de la aseguradora del vehículo."></i>
        </label>
        <input type="text" formControlName="seguros" />

        <label>
          Verificación:
          <i class="fas fa-info-circle info-icon"
            data-tooltip="Indique si la verificación está vigente o la fecha de la última verificación."></i>
        </label>
        <input type="text" formControlName="verificacion" />

        <label>
          Vigencia:
          <i class="fas fa-info-circle info-icon" data-tooltip="Fecha de vencimiento del seguro o verificación."></i>
        </label>
        <input type="date" formControlName="vigencia" />

        <label>
          Estado del Vehiculo:
          <i class="fas fa-info-circle info-icon" data-tooltip="Seleccione si el Vehiculo está activo o inactivo."></i>
        </label>
        <div formGroupName="estado">
          <label>
            <input type="radio" formControlName="activo" [value]="true"> Activo
          </label>
          <label>
            <input type="radio" formControlName="activo" [value]="false"> Inactivo
          </label>
        </div>
        <label>Responsable del vehiculo:</label>
        <i class="fas fa-info-circle info-icon"
          data-tooltip="Seleccione el trabajadores responsable de este vehiculo"></i>
        <select formControlName="responsable">
          <option value="">Seleccione</option>
          <!-- <option *ngFor="let Employees of catEmployees" [value]="Employees.id">{{ Employees.name }}</option> -->
        </select>
      </div>

    </div>
    <div class="col-auto d-flex justify-content-end mt-auto">
      <button type="submit" class="btn  btn-sm">Guardar vehiculo</button>
    </div>

  </form>



</div>