
<div *ngIf="isLoading" class="loader-contenedor">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading" class="pagination d-flex justify-content-center mt-4 w-100">
  <button
    class="btn btn-sm mx-1 rounded-circle btn-nav"
    (click)="cambiarPagina(page - 1)">
    &laquo;
  </button>

  <button
    class="btn btn-sm mx-1 rounded-circle"
    *ngFor="let p of totalPages"
    [ngClass]="(p - 1) === page ? 'btn-primary' : 'btn-outline-primary'"
    (click)="cambiarPagina(p - 1)">
    {{ p }}
  </button>

  <button
    class="btn btn-sm mx-1 rounded-circle btn-nav"
    (click)="cambiarPagina(page + 1)">
    &raquo;
  </button>
</div>
