<div class="table-container">


  @if (isLoading) {
    <div style="margin-block: 200px;">
      <div  class="spinner-overlay" >
        <div class="spinner"></div>
      </div>
    </div>
  }

  @if (!isLoading && data && data.length > 0) {
    <div class="table-responsive table-sm" [ngStyle]="{'max-height': maxHeight}"  >
      <table class="table">
        <thead>
          <tr class="table-light">
            @for (header of headers; track header; let i = $index) {
              <th
                (click)="sortData(displayedColums[i])" class="sortable-header">
                {{ header }}
                <i class="fa-solid fa-bars-staggered" ></i>
                @if (sortedColumn === displayedColums[i]) {
                  <span>
                    @if (sortDirection === 'asc') {
                      <i class="fa-solid fa-arrow-up"></i>
                    }
                    @if (sortDirection === 'desc') {
                      <i class="fa-solid fa-arrow-down"></i>
                    }
                  </span>
                }
              </th>
            }
          </tr>
        </thead>
        <tbody class="table-body">
          @for (row of paginatedData | filter: searchTerm : displayedColums ; track row; let i = $index) {
            <tr>
              <!-- Ciclo para mostrar cada columna -->
              @for (key of displayedColums; track key) {
                <td>
                  <!-- Si la columna es 'rango_fechas', se muestra el valor y el ícono solo si accidente == 1 -->
                  @if (key === 'rango_fechas') {
                    {{ row[key] }}
                    <!-- Mostrar ícono si accidente == 1 -->
                    @if (row.accidente == 1) {
                      <i
                        class="fa-solid fa-triangle-exclamation"
                      style="color: rgb(255, 145, 0);"></i>
                    }
                  }
                  @if (key === 'folio') {
                    @if (bola && row.nueva == 1) {
                      <i
                        class="fa-solid fa-circle"
                [ngStyle]="{
                  color: row.observaciones === 2 ? 'red' : 'rgb(255, 145, 0)',
                  fontSize: '10px'
                }">
                      </i>
                    }
                  }
                  <!-- Para las demás columnas, mostrar normalmente -->
                  @if (key !== 'rango_fechas') {
                    {{ row[key] }}
                  }
                </td>
              }
              <!-- Acciones de editar, eliminar, PDF -->
              <!-- Nueva columna Detalles -->
              @if (showDetailsColumn) {
                <td>
                  <button class="btn btn-info btn-sm" (click)="showDetails(row)">
                    Ver Detalles
                  </button>
                </td>
              }
              <!-- Nueva columna Checkbox Activo -->
              @if (showActiveCheckbox) {
                <td>
                  <input type="checkbox" [checked]="row.activo === 1" (change)="toggleCheckbox(row) " (click)="info($event,row)">
                </td>
              }
              <!-- Nueva columna Checkbox Verificado -->
              @if (showVerifiedCheckbox) {
                <td>
                  <input type="checkbox" [checked]="row.verificado === 1" (change)="toggleCheckbox(row)">
                </td>
              }
              <!-- Acciones de editar, eliminar, PDF -->
              @if (showActionsEdit || showActionsDeleted || showActionsPdf) {
                <td>
                  @if (showActionsEdit) {
                    <button class="edit" (click)="onEdit(row)">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  }
                  @if (showActionsDeleted) {
                    <button class="delete" (click)="onDelete(row)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  }
                  @if (showActionsPdf) {
                    <button class="pdf" (click)="onPDF(row)">
                      <i class="fa-solid fa-file-pdf"></i>
                    </button>
                  }
                </td>
              }
            </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="headers.length">
              <div class="pagination-controls">
                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                <span>Página {{ currentPage }}</span>
                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= data.length">Siguiente</button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  }
</div>


<!-- Paginación -->
<!-- <div class="pagination">
<button
  [disabled]="currentPage === 1"
  (click)="onPageChange(currentPage - 1)">
  Anterior
</button>
<span>Página {{ currentPage }} de {{ totalPages }}</span>
<button
  [disabled]="currentPage === totalPages"
  (click)="onPageChange(currentPage + 1)">
  Siguiente
</button>
</div>
</div> -->

<!-- Ejemplo de cuando no no quiera usar la columna de acciones -->
<!-- <app-reusable-table  -->
<!-- [headers]="headers" -->
<!-- [data]="data" -->
<!-- [itemsPerPage]="10" -->
<!-- [displayedColumns]="displayedColumns" -->
<!-- [showActions]="false">  --> <!-- Aquí omites las acciones -->
<!-- </app-reusable-table> -->
